@charset "utf-8";
#envoltorio{
	width: 1366px;
	height: 768px;
	background-color: white;
}
#envoltorio header{
	background-image: url("../imágenes-assets/menuu.jpg");
    width: 1366px;
	height: 70px;
	top: 0px;
	position:sticky;
	z-index: 3;
}
/*Aqui va logo*/
#envoltorio header  figure img{
position:relative;
  left: 70px;
  top: 1px;
  padding: 0px;	
}
#envoltorio header nav {
	width: 1366px;
	position: relative;
}
#envoltorio header nav a#botonreserva{
	position: relative;
	background-color: #FB9B2D;
	padding: 12px 35px;
	top: -156px;
	left: 1100px;
}
#envoltorio header nav ul {
  list-style-type: none;
  position: relative;
  top: -90px;
  text-align:center;
}
#envoltorio header nav ul li {
    display: inline-block;
	padding: 25px 35px;	
	
}
a{
	color:black;
	text-decoration: none;
	font-family: "Dream Orphans";
	font-size: 22px;
}	
#envoltorio nav ul li:hover {
background:#FB9B2D;	
}
a:hover {
	color: white;
}
/*FINAL HEADER*/		
/*INICIO CONTENIDO*/
#banner{
	width: 1366px;
	height: 241px;
	position: relative;
	top: -16px;
	right:0px;
}
 #naranja{
	width: 1366px;
	height: 269px;
	 top: -16px;
	position: relative;
	background-image: url("../imágenes-assets/naranja.jpg")
}
#perritu{
	position: relative;
	right: -1000px;
}
#mision{
	font-size: 48px;
	font-family: 'Oswald', sans-serif;
	color: white;
	line-height: 1.16;
	text-align: left;
	position: absolute;
	left: 105px;
	top: 35px;
	z-index: 2;
	letter-spacing: 03px;
	font-weight: lighter;
}
#mision span{
	font-weight: bold;
}
#parrafo1{
  font-size: 32px;
  font-family: "Oswald";
  color: white;
  line-height: 1.125;
  text-align: left;
  position: absolute;
  left: 600px;
  top: 42px;
  width: 383px;
  height: 140px;
  letter-spacing: 02px;
}
/*INICIA CONTENIDO*/
h1{
	text-align: left;
	font-family: "Dream Orphans";
	padding: 45px 0px 35px 250px
}
#qsomos{
	position: relative;
	left: -50px;
}
#parrafo2{
	text-align: justify;
	position: relative;
	width: 540px;
	top: -640px;
	left: 110px;
}
#anuncio {
	top: -50px;
	position: relative;
	left: 50px;
}
#emple{
	position: relative;
	top: -340px;
	left: 30px;
}	

#dogs{
	position: relative;top: 1660px; right: 265px;
}
#maraton{
	position: relative;
	left: 800px;
	top: -1350px;
}

/*INICIA FOOTER*/
.footer{
	width: 1366px;
	height: 190px;
	top: -380px;
	position: relative;
	background-color: #FB9B2D;
}
#foot{
	position: relative;
	top: 50px;
	left: 20px;
}